src/main/resources/cloudmaker.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="room">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="name"/>
                <xs:element name="width">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:short">
                                <xs:attribute type="xs:string" name="unit"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="length">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:short">
                                <xs:attribute type="xs:string" name="unit"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="points">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="point" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="x">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:double">
                                                        <xs:attribute type="xs:string" name="unit" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="y">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:double">
                                                        <xs:attribute type="xs:string" name="unit" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="angle">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:double">
                                                        <xs:attribute type="xs:string" name="unit" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="distance">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:double">
                                                        <xs:attribute type="xs:string" name="unit" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:dateTime" name="scanned"/>
        </xs:complexType>
    </xs:element>
</xs:schema>